@import "abstract/bootstrap";
@import 'common';

.avatar {
  @media (max-width: $screen-xs-max) {
    display: none;
  }

  text-align: center;
  margin-top: -100px;
}

.avatar__img {
  border-radius: 50%;
  border: solid 5px $cool-grey;
  background: white;
  display: inline;
}