.post {
  margin: auto 4rem;
}

.post__title {
  text-align: center;
}

.post__author {
  display: inline-block;
}

.post__tags {
  display: inline-block;
}

.post__date {
  display: inline-block;
  text-align: right;
  float: right;
}

.post__body {
  clear: both;
  margin-top: 3rem;
  @media (min-width: 48em) {
    font-size: 16px;
  }
  @media (min-width: 58em) {
    font-size: 20px;
  }

  /* Code */
  code,
  pre {
    font-family: Menlo, Monaco, "Courier New", monospace;
  }
  code {
    padding: .25em .5em;
    font-size: 85%;
    background-color: #f9f9f9;
    border-radius: 3px;
  }
  pre {
    display: block;
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 1rem;
    font-size: .9em;
    line-height: 1.4;
    white-space: pre;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f9f9f9;
  }
  pre code {
    padding: 0;
    font-size: 100%;
    color: inherit;
    background-color: transparent;
  }

  /* Thx to https://github.com/ryanb/railscasts-episodes/blob/master/episode-272/blog-after/public/stylesheets/pygments.css */
  .hll {
    background-color: #ffffcc
  }
  .c {
    color: #408080;
    font-style: italic
  }
  /* Comment */
  .err {
    border: 1px solid #FF0000
  }
  /* Error */
  .k {
    color: #008000;
    font-weight: bold
  }
  /* Keyword */
  .o {
    color: #666666
  }
  /* Operator */
  .cm {
    color: #408080;
    font-style: italic
  }
  /* Comment.Multiline */
  .cp {
    color: #BC7A00
  }
  /* Comment.Preproc */
  .c1 {
    color: #408080;
    font-style: italic
  }
  /* Comment.Single */
  .cs {
    color: #408080;
    font-style: italic
  }
  /* Comment.Special */
  .gd {
    color: #A00000
  }
  /* Generic.Deleted */
  .ge {
    font-style: italic
  }
  /* Generic.Emph */
  .gr {
    color: #FF0000
  }
  /* Generic.Error */
  .gh {
    color: #000080;
    font-weight: bold
  }
  /* Generic.Heading */
  .gi {
    color: #00A000
  }
  /* Generic.Inserted */
  .go {
    color: #808080
  }
  /* Generic.Output */
  .gp {
    color: #000080;
    font-weight: bold
  }
  /* Generic.Prompt */
  .gs {
    font-weight: bold
  }
  /* Generic.Strong */
  .gu {
    color: #800080;
    font-weight: bold
  }
  /* Generic.Subheading */
  .gt {
    color: #0040D0
  }
  /* Generic.Traceback */
  .kc {
    color: #008000;
    font-weight: bold
  }
  /* Keyword.Constant */
  .kd {
    color: #008000;
    font-weight: bold
  }
  /* Keyword.Declaration */
  .kn {
    color: #008000;
    font-weight: bold
  }
  /* Keyword.Namespace */
  .kp {
    color: #008000
  }
  /* Keyword.Pseudo */
  .kr {
    color: #008000;
    font-weight: bold
  }
  /* Keyword.Reserved */
  .kt {
    color: #B00040
  }
  /* Keyword.Type */
  .m {
    color: #666666
  }
  /* Literal.Number */
  .s {
    color: #BA2121
  }
  /* Literal.String */
  .na {
    color: #7D9029
  }
  /* Name.Attribute */
  .nb {
    color: #008000
  }
  /* Name.Builtin */
  .nc {
    color: #0000FF;
    font-weight: bold
  }
  /* Name.Class */
  .no {
    color: #880000
  }
  /* Name.Constant */
  .nd {
    color: #AA22FF
  }
  /* Name.Decorator */
  .ni {
    color: #999999;
    font-weight: bold
  }
  /* Name.Entity */
  .ne {
    color: #D2413A;
    font-weight: bold
  }
  /* Name.Exception */
  .nf {
    color: #0000FF
  }
  /* Name.Function */
  .nl {
    color: #A0A000
  }
  /* Name.Label */
  .nn {
    color: #0000FF;
    font-weight: bold
  }
  /* Name.Namespace */
  .nt {
    color: #008000;
    font-weight: bold
  }
  /* Name.Tag */
  .nv {
    color: #19177C
  }
  /* Name.Variable */
  .ow {
    color: #AA22FF;
    font-weight: bold
  }
  /* Operator.Word */
  .w {
    color: #bbbbbb
  }
  /* Text.Whitespace */
  .mf {
    color: #666666
  }
  /* Literal.Number.Float */
  .mh {
    color: #666666
  }
  /* Literal.Number.Hex */
  .mi {
    color: #666666
  }
  /* Literal.Number.Integer */
  .mo {
    color: #666666
  }
  /* Literal.Number.Oct */
  .sb {
    color: #BA2121
  }
  /* Literal.String.Backtick */
  .sc {
    color: #BA2121
  }
  /* Literal.String.Char */
  .sd {
    color: #BA2121;
    font-style: italic
  }
  /* Literal.String.Doc */
  .s2 {
    color: #BA2121
  }
  /* Literal.String.Double */
  .se {
    color: #BB6622;
    font-weight: bold
  }
  /* Literal.String.Escape */
  .sh {
    color: #BA2121
  }
  /* Literal.String.Heredoc */
  .si {
    color: #BB6688;
    font-weight: bold
  }
  /* Literal.String.Interpol */
  .sx {
    color: #008000
  }
  /* Literal.String.Other */
  .sr {
    color: #BB6688
  }
  /* Literal.String.Regex */
  .s1 {
    color: #BA2121
  }
  /* Literal.String.Single */
  .ss {
    color: #19177C
  }
  /* Literal.String.Symbol */
  .bp {
    color: #008000
  }
  /* Name.Builtin.Pseudo */
  .vc {
    color: #19177C
  }
  /* Name.Variable.Class */
  .vg {
    color: #19177C
  }
  /* Name.Variable.Global */
  .vi {
    color: #19177C
  }
  /* Name.Variable.Instance */
  .il {
    color: #666666
  }
  /* Literal.Number.Integer.Long */

}